@import url('https://fonts.cdnfonts.com/css/thegoodmonolith');

body {
  font-family: 'TheGoodMonolith', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background-image: url("../images/bg.jpg");
  background-size: contain;
}

#wrapper {
  /* background: beige; */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#score_wrapper {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 60px;
  position: relative;
}

#computer_score {
  text-align: right;
  margin-right: 24px;
}

#user_score {
  text-align: left;
  margin-left: 24px;
}

#wins_wrapper {
  color: white;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  position: relative;
  margin-top: -60px;
}

#computer_wins {
  text-align: right;
  margin-left: 12px;
}

#user_wins {
  text-align: left;
  margin-right: 12px;
}

#canvas {
  border: 4px dashed #DBD3D8;
  width: 840px;
  height: 480px;
  background-color: black;
  position: relative;
}

#game_over_wrapper, #welcome_wrapper {
  border: 16px dashed black;
  width: 440px;
  height: 280px;
  padding: 0px;
  background-color: #DBD3D8;
  color: black;
  font-weight: bolder;
  position: absolute;
}

#welcome_text {
  padding-top: 8%;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

#winner_declaration {
  font-size: 60px;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 4%;
}

#game_over_text {
  font-size: 60px;
  text-align: center;
  
}

#net {
  width: 0.2px;
  height: 480px;
  background-color: #DBD3D8;
  position: absolute;
  border: 2px dashed black;
}

#ball {
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
}

.hidden {
  display: none;
}

#spacing {
  padding: 1%;
}

button {
  font-family: 'TheGoodMonolith', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  background-color: #DBD3D8;
  border-radius: 8px;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

#highscore {
  background-color: #832161;
  color: #DBD3D8;
  cursor: default; 
  width: 300px;
}